//Mobile First
$hovercolor: blue;
$hoverbackgroundcolor :aqua;
$bordercolor: white;


.four:hover {
    color: $hovercolor;
    border-color: $hovercolor;

}

.hiddenbar:hover {
    background-color: $hoverbackgroundcolor;
}

.nav-bar:hover {
    background-color: $hoverbackgroundcolor;
    border-left: 3px solid $bordercolor;
}

#sidebarmobile {
    display: block;
}

.col-sm-2 {
    display: none;
}

.search-button:hover {
    color: $hovercolor;
}
.bell-button:hover {
    color: $hovercolor;
}

//Medium Breakpoint for Sidebar
@media (min-width: 768px) { 
.col-sm-2 {
    display: flex;
}

}
//Desktop Breakpoint

//Hide Hamburger
@media (min-width: 576px) {
#sidebarmobile {
        display: none;
}

 }